$color-turquoise:#09B3B0;
$color-white:#FFFFFF;
$color-yellow:#FF9F00;
$color-blue:#0099A8;
$color-darkblue:#09292F;
$type-Winter_Insight:Winter Insight,sans-serif;
$type-Roboto:Roboto,sans-serif;
$type-Yrsa:Yrsa,serif;
$type-Segoe:-apple-system, BlinkMacSystemFont, 'Segoe UI',sans-serif;
$type-Montserrat:'Montserrat', sans-serif;